body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


.social {
    margin-bottom: 50px;
    scale: 2;
    padding: 40px;
}

.social a {
    color: #fff;
    margin: 5px;
    text-decoration: none;
    border-radius: 6px;
    padding: 5px;
    font-size: 24px;
    transition: 0.4s;
}

.social a:hover {
    background: rgba(250, 250, 250, 0.1); /* Lower opacity with rgba */
}


.foot h4 {
    margin: 0;
}
