* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

@font-face {
    font-family: 'CommunityFont';
    src: url('communityfont.woff2') format('woff2'),
         url('communityfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marko One';
    src: url('path/to/MarkoOne-Regular.ttf') format('truetype');
}

.marko-one-regular {
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
}

/* 
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
} */
  
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    transition: background-color 0.3s, padding 0.3s;
    z-index: 1000000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    /* border: 1px solid red; */
    height: 65px;
}

.page-is-clicked {
    color: var(--blue);
}

.movielogo {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
}

.movielogo h2 {
    font-family: 'Marko One', sans-serif;
    margin-left: 5px;
    font-size: 25px;
    line-height: 25px;
    font-weight: normal;
    color: #47B5FF;
    /* border: 1px solid red; */
}

.logomovie {
    width: 40px;
    height: 40px;
    /* border: 1px solid red; */
}

nav{
    display: flex;
    text-decoration: none;
    /* border: 1px solid red; */
}

.rightnav{
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 20px;
    position: relative;
    /* border: 1px solid red; */
}

.search input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 12px;
    /* padding-right: 40px; */
    border: none;
    border-radius: 10px;
    background-color: var(--grey);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 15px;
    /* border: 1px solid red; */
}

.search input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.search input[type="text"]::placeholder {
    color: #aaa;
    /* font-style: italic; */
    position: absolute;
    top: 12px;
}

.search img {
    padding: 4px;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width:30px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
    /* border: 1px solid red; */
}

.search img:hover {
    opacity: 1;
}

.navigation {
    font-family: 'CommunityFont', sans-serif;
    display: flex;
    list-style: none;
    align-items: center;
    transition: 0.3s ease;
    width: auto;
    gap: 30px;
    /* border: 1px solid red; */
    padding: 0;
}

.profile {
    margin-top: 5px;
}

.profile .profil {
    width: 45px;
    height: 45px; 
    cursor: pointer;
}

.dropdown-profile {
    display: none;
    position: absolute;
    background-color: var(--black);
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    top: 62px;
    right: -18px; 
    /* border: 1px solid red; */
}

.dropdown-profile.opacity-transition {
    transition: opacity 0.4s ease;
    opacity: 1;
}

.dropdown-profile a {
    /* margin: 10px; */
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--white);
}

#logoutIcon {
    width: 20px;
    height: auto;
}

.logout-text {
    margin-left: 15px;
}

.dropdown-profile a:hover {
    border-radius: 5px;
    background-color:#01afff;
}

.show {
    display: block;
    visibility: visible;
}

#icon {
    margin-left: 20px;
    font-size: 35px;
    color: white;
    display: none;
    cursor: pointer;
    /* border: 1px solid red; */
}

.navigation li a{
    font-size: 16px;
    border-radius: 0px;
    /* text-align: center; */
    position: relative;
    padding: 0px;
    text-decoration: none;
    color: var(--white);
    z-index: 1;
    transition: 0.3s;
    /* border: 1px solid red; */
}
.navigation li a:hover{
    color: #47B5FF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding: 10px;
    display: none;
    position: absolute;
    top: 48px;
    border-radius: 5px;
    left: -20px;
    background-color: var(--black);
    width: auto;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    z-index: 1;
    column-count: 3;
    column-gap: 0px;
    column-fill: balance;
    transition: 0.3s;
    /* border: 1px solid white; */
    row-gap: 10px;
}

.dropdown-content a {
    color: white;
    margin: 0px 10px;
    height: auto;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    transition: 0.3s ease;
    height: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid blue; */
}

.dropdown-content.active {
    display: block;
}

.search input[type="text"] {
    width: 200px;
    color: white;
}

.search input[type="text"].expanded {
    width: 300px; 
    transition: width 0.3s ease;
}


/* @media (max-width: 1620px){
    header{
        padding: 14px 2%;
        transition: 0.2s;
    }

    .navigation li a{
        font-size: 18px;
        border-radius: 4px;
        text-align: center;
        position: relative;
        padding: 15px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        z-index: 1;
        transition: 0.3s;
    }

    .profil{
        scale: 0.7;
        margin-right: 25px;
    }

    .movielogo{
        scale: 0.6;
        margin-right: -15%;
    }

}


@media (max-width: 1220px){
    header{
        padding: 14px 2%;
        transition: 0.2s;
    }

    .navigation li a{
        font-size: 12px;
        border-radius: 4px;
        text-align: center;
        position: relative;
        padding: 10px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        z-index: 1;
        transition: 0.3s;
    }

    .profil{
        scale: 0.7;
        margin-right: 30px;
    }

    .movielogo{
        scale: 0.6;
        margin-right: -15%;
    }

} */

@media (min-width: 768px) and (max-width: 1023px){
    
    .navigation {
        gap: 10px;
    }
    
    .dropdown-profile {
        box-shadow: none;
        visibility: hidden;
        top: calc(100vh - 150px);
        right: 10px; 
        /* border: 1px solid red; */
        transition: all 0.4s ease;
    }

    .dropdown-profile a:hover {
        background-color: var(--grey);
    }
    
    .show {
        display: block;
        visibility: visible;
    }
    
    .dropdown-content {
        background-color: var(--grey);
        box-shadow: none;
        /* border: 1px solid white; */
    }
    
    .dropdown-content a {
        margin: 0px 0px;
        height: auto;
        /* border: 1px solid blue; */
    }
    
    .search input[type="text"] {
        width: 200px;
        color: white;
    }
    
    .search input[type="text"].expanded {
        width: 250px; 

    }

    #icon{
        display: block;
    }

    .rightnav {
        position: relative;
    }

    .navigation.nyala{
        background-color: var(--black);
        align-items: center;
        /* border: 1px solid red; */
    }

    .navigation{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        transition: all 0.4s ease;
        right: -100%;
        top: 45px;
        height: 100vh;
        width: 300px;
        /* border: 1px solid red; */
    }

    .top {
        margin-top: 30px;
    }

    .navigation li a{
        display: block;
        margin-top: 0px;
        /* border: 1px solid red; */
        padding: 15px;
        text-align: center;
    }

    .navigation.nyala{
        right: 0px;
    }

    .movielogo{
        scale: 0.9;
        margin-left: -5px;
        /* border: 1px solid red; */
    }

    .profile .profil {
        scale: 0.9;
    }
    
    .dropdown-content {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        
        width: auto;
        column-count: 2;

        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        opacity: 0;
        visibility: hidden;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .dropdown-content.active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 767px){
    
    header {
        padding: 0;
    }

    .navigation {
        gap: 10px;
    }

    .search {
        margin-right: 10px;
    }
    
    .dropdown-profile {
        box-shadow: none;
        visibility: hidden;
        top: calc(100vh - 150px);
        right: 10px; 
        /* border: 1px solid red; */
        transition: all 0.4s ease;
        background-color: var(--grey);
    }

    .dropdown-profile a:hover {
        background-color: var(--grey);
    }
    
    .show {
        display: block;
        visibility: visible;
    }
    
    .dropdown-content {
        background-color: var(--grey);
        box-shadow: none;
        /* border: 1px solid white; */
    }
    
    .dropdown-content a {
        margin: 0px 0px;
        height: auto;
        /* border: 1px solid blue; */
    }
    
    .search input[type="text"] {
        width: 150px;
    }
    
    .search input[type="text"].expanded {
        width: 200px; 

    }

    #icon{
        display: block;
        margin-left: 5px;
        margin-right: 10px;
    }

    .rightnav {
        position: relative;
    }

    .navigation.nyala{
        background-color: var(--black);
        align-items: center;
        /* border: 1px solid red; */
    }

    .navigation{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        transition: all 0.4s ease;
        right: -100%;
        top: 30px;
        height: 100vh;
        width: 250px;
        /* border: 1px solid red; */
    }

    .top {
        margin-top: 30px;
    }

    .navigation li a{
        display: block;
        margin-top: 0px;
        /* border: 1px solid red; */
        padding: 12px;
        text-align: center;
    }

    .navigation.nyala{
        right: 0px;
    }

    .movielogo{
        margin-left: 10px;
    }

    .movielogo h2 {
        display: none;
    }

    .profile .profil {
        scale: 0.9;
    }
    
    .dropdown-content {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        
        width: auto;
        column-count: 2;

        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
        opacity: 0;
        visibility: hidden;

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .dropdown-content.active {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}



















