@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

.MainBackground{
    background-color: rgba(38, 40, 43, 1);
}

.WebTitle{
    text-align: center;
    margin-top: 140px;
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MainHistory{
    color: #FFFFFF;
    /* margin-left: 95px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-family: "Lexend", sans-serif;
}

/* Naldo */

.history-card {
    /* border: 1px solid red; */
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 15px;
    margin-bottom: 10px;
    /* justify-content: center; */
    /* align-items: center; */
}

.history-card:hover {
    background-color: var(--grey);
}

.history-card:hover .history-play-button {
    visibility: visible;
}

.history-card:hover .history-card-poster {
    filter: brightness(0.7);
}

.history-card-left {
    width: 30%;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.history-card-right {
    width: calc(100% - 30%);
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    /* gap: 90px; */
    /* margin-left: 10px; */
}

.history-card-poster {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.history-play-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.history-card-top-detail {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-section {
    /* border: 1px solid red; */
    font-size: 24px;
    width: fit-content;
}

.date-section {
    font-size: 18px;
    margin-top: 5px;
}

.progress-section {
    font-size: 16px;
    margin-top: 100px;
}

.delete-button-section {
    padding: 5px;
    font-size: 64px;
    /* border: 1px solid red; */
    line-height: 20px;
    cursor: pointer;
}

.SubJudul1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/*  */

.History1{
    display: flex;
    justify-content: end;
    padding-top: 18px;
    margin-left: -21px;
    padding-left: 20px;
    margin-right: 86px;
}

.borderHis{
    width: 320px;
    height: 230px;
    opacity: 0;
    padding-top: 5px;
    margin-left: -16px;
    margin-top: -15px;
    padding-left: 18px;
    margin-right: 86px;
    background-color: rgba(53, 57, 65, 1);
    border-radius: 10px;
    position: absolute;
}

.History1:hover{
    border-radius: 16px;
}

.History1:hover{
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    background-color: rgba(53, 57, 65, 1);
}

.History1:hover .pButton{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer;
}

.History1:hover .borderHis{
    animation: show-data 1s forwards;
    opacity: 0.5;
    transition: opacity .3s;
}

.headMovie{
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.Poster{
    padding-bottom: 3px;
    border-radius: 10px;
}

.Desc1{
    padding-left: 18px;
    font-family: "Lexend", sans-serif;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pButton{
    position: absolute;
    justify-content: flex-end;
    margin-top: 70px;
    margin-left: 125px;
    opacity: 0;
}

.movieTitle1{
    font-size: 24px;
    margin-top: 0px;
}

.Date1{
    font-size: 18px;
    margin-top: -5px;
}

.Progress1{
    font-size: 18px;
    padding-top: 89px;
}

.deleteButton{
    font-size: 64px;
    margin-top: -19px;
    padding-top: 5px;
    padding-right: 23px;
}

.histPopup{
    font-family: "Lexend", sans-serif;
    position: fixed;
    display: flex;
    top: -100vh;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: top 0ms ease-in-out 300ms;
}

.histPopup .histOverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(38, 40, 43, 0.9);
    opacity:0;
    display: none;
    transition: opacity 100ms ease-in-out 200ms;
} 

.histPopup .histPopUpDesc {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    background-color: rgba(53, 57, 65, 1);
    width: 1020px;
    border-radius: 15px;
    height: 165px;
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.His-Pop-UpBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: auto;
    align-items: center;
    font-size: 53px;
    padding-right: 14px;
    height: 25%;
    color: #FFFFFF;
}

.His-Pop-Desc {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    height: calc(100% - 50%);
    color: #FFFFFF;
}

.histPopBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    align-items: center;
    height: 25%;
    column-gap: 10px;
    padding-right: 8px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.YesBtn{
    padding: 7px 24px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgba(71, 181, 255, 1);
    color: rgba(38, 40, 43, 1);
    cursor: pointer;
}

.CancelBtn{
    padding: 7px 24px;
    border: none;
    outline: none;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgba(38, 40, 43, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.His-Pop-UpBtn2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: auto;
    align-items: center;
    font-size: 53px;
    padding-right: 14px;
    height: 20%;
    color: #FFFFFF;
}

.His-Pop-Desc2{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    align-items: center;
    height: calc(100% - 20%);
    color: #FFFFFF;
    padding-bottom: 30px;
}



/* .histPopup .histOverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(38, 40, 43, 0.9);
    opacity:0;
    display: none;
    transition: opacity 100ms ease-in-out 200ms;
} */

/* .dltBtnPops{
    position: absolute;
    font-size: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
    padding-right: 15px;
    padding-bottom: -20px;
    color: #FFFFFF;
    margin-left: 1068px;
}

.histPopup .histPopUpDesc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(53, 57, 65, 1);
    width: 1120px;
    border-radius: 20px;
    height: 210px;
    transition: all 300ms ease-in-out;
    opacity: 0;
}

.histPopDesc{
    font-size: 24px;
    padding-top: 85px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
}

.histPopBtn{
    display: flex;
    justify-content: end;
    margin-top: 25px;
    padding-right: 13px;
}

.YesBtn{
    margin-right: 8px;
    padding: 0px 25px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(71, 181, 255, 1);
    color: rgba(38, 40, 43, 1);
    cursor: pointer;
}

.CancelBtn{
    padding: 8px 25px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(38, 40, 43, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
} */

.histPopup.active{
    top: 0px;
    transition: top 0ms ease-in-out 0ms;
}

.histPopup.active .histOverlay{
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.histPopup.active .histPopUpDesc{
    transition: translate(-50%, -50%) scale(1);
    opacity: 1;
}

@media screen and (max-width: 767px){
    .WebTitle{
        margin-top: 100px;
        font-size: 22px;
        /* border: 1px solid red; */
    }
    
    .MainHistory{
        margin-top: 15px;
        /* border: 1px solid red; */
    }

    .Today, .Yesterday, .Earlier {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    
    .MainHistory{
        color: #FFFFFF;
        /* margin-left: 95px; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Lexend", sans-serif;
    }

    .history-card {
        /* border: 1px solid red; */
        width: 90%;
        height: 80px;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 8px;
        background-color: var(--grey);
    }

    .history-card-left {
        width: 35%;
        margin-right: 5px;
        /* border: 1px solid red; */
    }
    
    .history-card-right {
        width: calc(100% - 35%);
    }
    
    .history-card-poster {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        filter: brightness(0.7);
    }
    
    .history-play-button {
        width: 20px;
        height: 20px;
        visibility: visible;
    }
    
    .history-card-top-detail {
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
    }
    
    .title-section {
        /* border: 1px solid red; */
        font-size: 15px;
        max-width: 190px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .date-section {
        font-size: 11px;
        margin-top: 0px;
    }
    
    .progress-section {
        font-size: 11px;
        margin-top: 23px;
    }
    
    .delete-button-section {
        padding: 5px;
        font-size: 36px;
        /* border: 1px solid red; */
        line-height: 10px;
        cursor: pointer;
    }
    
    .SubJudul1 {
        font-size: 16px;
        margin-bottom: 5px;
        /* border: 1px solid red; */
        text-align: left;
        width: 90%;
        margin-top: 15px;
    }

    .histPopup .histPopUpDesc{
        width: 90%;
    }

    .His-Pop-UpBtn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: auto;
        align-items: center;
        font-size: 46px;
        padding-right: 14px;
        height: 25%;
    }
    
    .His-Pop-Desc {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        font-size: 18px;
        align-items: center;
        height: calc(100% - 50%);
    }
    
    .histPopBtn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: auto;
        align-items: center;
        height: 25%;
        column-gap: 10px;
        padding-right: 8px;
        padding-bottom: 0px;
        margin-bottom: 3px;

    }
    
    .YesBtn{
        padding: 7px 24px;
        border: none;
        outline: none;
        font-size: 13px;
        border-radius: 10px;
        background-color: rgba(71, 181, 255, 1);
        color: rgba(38, 40, 43, 1);
        cursor: pointer;
    }
    
    .CancelBtn{
        padding: 7px 24px;
        border: none;
        outline: none;
        font-size: 13px;
        border-radius: 10px;
        background-color: rgba(38, 40, 43, 1);
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }

    .His-Pop-UpBtn2{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: auto;
        align-items: center;
        font-size: 49px;
        padding-right: 14px;
        height: 20%;
        color: #FFFFFF;
    }
    
    .His-Pop-Desc2{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        font-size: 17px;
        align-items: center;
        height: calc(100% - 20%);
        color: #FFFFFF;
        padding-bottom: 30px;
    }
    
    
    /* .histPopup{
        font-family: "Lexend", sans-serif;
        position: fixed;
        top: -100vh;
        left: 5%;
        right: 5%;
        width: 90%;
        height: 90%;
        transition: top 0ms ease-in-out 300ms;
    }

    .histPopup .histOverlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(38, 40, 43, 0.9);
        opacity:0;
        display: none;
        transition: opacity 100ms ease-in-out 200ms;
    }

    .dltBtnPops{
        justify-content: center;
        font-size: 50px;
        margin-left: 300px;
        padding-right: 15px;
        padding-bottom: -20px;
        color: #FFFFFF;
    }

    .histPopup .histPopUpDesc{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(53, 57, 65, 1);
        width: 100%;
        border-radius: 20px;
        height: 25%;
        transition: all 300ms ease-in-out;
        opacity: 0;
    }

    .histPopDesc{
        font-size: 15px;
        padding-top: 50px;
        padding-bottom: 0px;
        text-align: center;
        color: #FFFFFF;
    }

    .histPopBtn{
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        padding-right: 9px;
        padding-left: 9px;   
    }

    .YesBtn{
        margin-right: 8px;
        padding: 0px 10px;
        border: none;
        outline: none;
        font-size: 15px;
        border-radius: 10px;
        background-color: rgba(71, 181, 255, 1);
        color: rgba(38, 40, 43, 1);
        cursor: pointer;
    }

    .CancelBtn{
        padding: 8px 25px;
        border: none;
        outline: none;
        font-size: 15px;
        border-radius: 10px;
        background-color: rgba(38, 40, 43, 1);
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    } */

    .histPopup.active{
        top: 0px;
        transition: top 0ms ease-in-out 0ms;
    }

    .histPopup.active .histOverlay{
        opacity: 1;
        transition: all 300ms ease-in-out;
    }

    .histPopup.active .histPopUpDesc{
        transition: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

}   

    @media (min-width: 768px) and (max-width: 1023px){

        .WebTitle{
            margin-top: 120px;
            font-size: 30px;
        }
        
        .MainHistory{
            margin-top: 60px;
        }
    
        .history-card {
            width: 600px;
            height: 160px;
            padding: 8px;
        }

        .history-play-button {
            width: 35px;
            height: 35px;
        }
        
        .title-section {
            font-size: 22px;
        }
        
        .date-section {
            font-size: 16px;
        }
        
        .progress-section {
            font-size: 16px;
            margin-top: 70px;
        }
        
        .delete-button-section {
            font-size: 50px;
        }

        .SubJudul1{
            font-size: 20px;
        }

        .histPopup .histPopUpDesc{
            width: 90%;
        }

        .His-Pop-Desc{
            font-size: ;
        }

        .His-Pop-Desc {
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            font-size: 21px;
            align-items: center;
            height: calc(100% - 50%);
        }
        
        .His-Pop-UpBtn2{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-end;
            margin-bottom: auto;
            align-items: center;
            font-size: 50px;
            padding-right: 14px;
            height: 20%;
            color: #FFFFFF;
        }
        
        .His-Pop-Desc2{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center;
            font-size: 21px;
            align-items: center;
            height: calc(100% - 20%);
            color: #FFFFFF;
            padding-bottom: 30px;
        }
        

        /*  */

        /* .histPopup{
        font-family: "Lexend", sans-serif;
        position: fixed;
        top: -100vh;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: top 0ms ease-in-out 300ms;
    }

    .histPopup .histOverlay{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(38, 40, 43, 0.9);
        opacity:1;
        display: none;
        transition: opacity 100ms ease-in-out 200ms;
    }

    .dltBtnPops{
        position: absolute;
        font-size: 60px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: right;
        padding-right: 15px;
        padding-bottom: -20px;
        color: #FFFFFF;
        margin-left: 640px;
    }

    .histPopup .histPopUpDesc{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(53, 57, 65, 1);
        width: 700px;
        border-radius: 15px;
        height: 200px;
        transition: all 300ms ease-in-out;
        opacity: 1;
    }

    .histPopDesc{
        font-size: 23px;
        padding-top: 66px;
        padding-bottom: 0px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        color: #FFFFFF;
    }

    .histPopBtn{
        display: flex;
        justify-content: end;
        padding-right: 9px;
        padding-left: 12px;   
        margin-bottom: 8px;
    }

    .YesBtn{    
        margin-right: 8px;
        padding: 0px 10px;
        border: none;
        outline: none;
        font-size: 21px;
        border-radius: 8px;
        background-color: rgba(71, 181, 255, 1);
        color: rgba(38, 40, 43, 1);
        cursor: pointer;
    }

    .CancelBtn{
        padding: 8px 25px;
        border: none;
        outline: none;
        font-size: 21px;
        border-radius: 8px;
        background-color: rgba(38, 40, 43, 1);
        color: rgba(255, 255, 255, 1);
        cursor: pointer;
    }    */
    }